.App {
  position: relative;
  background-color: #003459;
}

.status {
  position: static; 
  left: 50%;
  text-align: center;
}

.square {
  background-color: white;
  border: 1px solid black;
  position: relative;
  left: 45%;
  top: auto;
  text-align: center;
  vertical-align: top;
  line-height: normal;
  width: 80px;
  height: 80px;
  font-size: large;
}